body {
    background-color: #599e4b;
}

#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#nav-list {
    background-color: #ffc746;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

#nav-list li:hover{
    background-color: #46ffd1;
}

#header-nav button {
    margin-top: 22px;
}

#main-content h2 {
    color: white;
    margin-bottom: 20px;
}

.tile{
    background-color: #99ed7b;
    font-size: 16px;
    padding: 5px 20px 20px 20px;
    margin-bottom: 20px;
}

.section-title{
    margin-top: 0px;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
	
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width:767px) {
    
}

@media (max-width: 479px) {
   
}
